html,body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#map {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
}

@media screen and (min-width: 0px) and (max-width: 420px) {
  #menuItemsRight { display: none; }  /* hide menu items on small screens */
}

@media screen and (min-width: 421px) and (max-width: 2500px) {
  #menuItemsRight { display: block; }   /* show menu items elsewhere */
}

/*body.modal-open div.modal-backdrop { */
    /*z-index: 0; */
/*}*/

#toplogo {

  height:160%;
  margin-bottom: 20%;
}

.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.overlap {
 	position:relative;
	top: 50%;
}

.panel {
   opacity: 0.85;
}

.navbar{
  background:#637081;
  border-color:#637081;
  border-radius:0px;
  z-index: 10;
}

i.icon-2x {
  font-size: 30px;
}

.color-light{
    color:#FFFFFF;
}



/*Colored Content Boxes
------------------------------------*/
.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
}

.servive-block p,
.servive-block h2 {
  color: #fff;
}

.servive-block h2 a:hover{
  text-decoration: none;
}

.servive-block-light,
.servive-block-default {
  background: #fafafa;
  border: solid 1px #eee;
}

.servive-block-default:hover {
  box-shadow: 0 0 8px #eee;
}

.servive-block-light p,
.servive-block-light h2,
.servive-block-default p,
.servive-block-default h2 {
  color: #555;
}

.servive-block-u {
  background: #72c02c;
}
.servive-block-blue {
  background: #3498db;
}
.servive-block-red {
  background: #e74c3c;
}
.servive-block-sea {
  background: #1abc9c;
}
.servive-block-grey {
  background: #95a5a6;
}
.servive-block-yellow {
  background: #f1c40f;
}
.servive-block-orange {
  background: #e67e22;
}
.servive-block-green {
  background: #2ecc71;
}
.servive-block-purple {
  background: #9b6bcc;
}
.servive-block-aqua {
  background: #27d7e7;
}
.servive-block-brown {
  background: #9c8061;
}
.servive-block-dark-blue {
  background: #4765a0;
}
.servive-block-light-green {
  background: #79d5b3;
}
.servive-block-dark {
  background: #555;
}
.servive-block-light {
  background: #ecf0f1;
}

td.airquality0 {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

td.airquality1 {
    background-color: #66CCFF;
    color: #000000;
    text-align: center;
}

td.airquality2 {
    background-color: #99CC66;
    color: #000000;
    text-align: center;
}

td.airquality3 {
    background-color: #9999CC;
    color: #000000;
    text-align: center;
}

td.airquality4 {
    background-color: #CC3366;
    color: #FFFFFF;
    text-align: center;
}

td.airquality5 {
    background-color: #666666;
    color: #FFFFFF;
    text-align: center;
}

td.legend {
    border: 1px solid black;
    padding: 5px;
}

